<p class="fields">
	<%= f.label :link, "link" %>
	<%= f.text_field :link%>
	<%= f.label :citation_title, "Title" %>
	<%= f.text_field :citation_title %>
	<%= f.label :author, "Author" %>
	<%= f.text_field :author %>
	<%= link_to_remove_fields "remove", f %>
</p>